# Optional: override Rand McNally tile source
VITE_RAND_MCNALLY_TILES=https://allmaps.xyz/images/db98e50332b9e882/{z}/{x}/{y}@2x.png

# Optional: override modern basemap tile source
# VITE_MODERN_TILES=https://tile.openstreetmap.org/{z}/{x}/{y}.png
